.pic2 {
    padding-left: 500px;
    padding-right: 40px;
  
}

.pic3 {
    
    padding-right: 1000px;
 
}
.Form {

    padding-left: 300px;
    padding-right: 500px;

}
.end {

    padding-left: 300px;
    padding-right: 50px;

}